@font-face {
    font-family: 'MyCustomFont'; /* A name to reference this font later */
    src: url('./Adelle_Bold.ttf') format('truetype'); /* Path to the font file and its format */
    font-weight: normal; /* Optional; default is 'normal' */
    font-style: normal; /* Optional; default is 'normal' */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000; /* Light green background */
    font-family: Arial, sans-serif;
}

.center-container {
    text-align: center;
}

h1 {
    font-family: 'MyCustomFont', sans-serif; /* Use MyCustomFont, or fallback to sans-serif if not available */
    color: #074523;
    font-weight: bold;
    font-size: 13em;
}

.space {
    display: inline-block;
    font-size: 5em;
}


.digit {
    display: inline-block;
    color: #074523;  /* make all digits visible by default */
    font-size: 9em;
}

.euro {
    display: inline-block;
    color: #074523;  /* make all digits visible by default */
    font-size: 9em;
}

@keyframes draw {
    0% {
        -webkit-text-stroke-width: 2px;
        color: transparent;
    }
    100% {
        -webkit-text-stroke-width: 0;
        color: #008000;
    }
}
