<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Main Page</title>
</head>
<body>
    <div class="center-container">
        <div class="logo" id="logo">
            <h1>Generated Funds</h1>
        </div>
        <div class="counter">
            <h1 id="count" data-speed="{{.Speed}}" data-viewspeed="{{.ViewSpeed}}" data-time-counter-display="{{.TimeCounterDisplay}}" data-fields='{{range .Fields}}{{if eq .ShowField "on"}}{{.FieldText}}|{{end}}{{end}}'>{{.Start}}</h1>
        </div>
    </div>
    <script src="/public/js/script.js"></script>
</body>
</html>
